---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% assign grouped_profiles = page.profiles | group_by: 'title' %}

      {% for group in grouped_profiles %}
        <h2>{{ group.name }}</h2>

        {% assign is_multiple = group.items | size | minus: 1 %}
        <div
          style="
            {% if is_multiple > 0 %}
              display: flex;
              flex-wrap: wrap;
              justify-content: flex-start;
              gap: 24px;
              margin-bottom: 2rem;
            {% endif %}
          "
        >
          {% for profile in group.items %}
            <div style="width: 180px; text-align: center;">
              {% if profile.image %}
                {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                {% if profile.image_circular %}
                  {% assign profile_image_class = 'rounded-circle' %}
                {% else %}
                  {% assign profile_image_class = 'rounded' %}
                {% endif %}
                {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
                {% include figure.liquid loading="lazy" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image style="width: 120px; height: auto; margin-bottom: 0.5rem;" %}
              {% endif %}

              {% if profile.more_info %}
                <div style="font-size: 0.9rem;">{{ profile.more_info }}</div>
              {% endif %}

              {% if profile.content %}
                <div style="margin-top: 10px; font-size: 0.85rem;">
                  {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                  {{ profile_content | markdownify }}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
        <hr>
      {% endfor %}
    {% endif %}
  </article>
</div>
